<div style={{this.layoutCss}} >
    {{#let (element this.menuComponent) as |Menu|}}
        <Menu 
			allData={{@allData}}
        	{{did-insert this.registerListener}}
        	{{will-destroy this.unregisterListener}}/>
    {{/let}}
    <div style="width: 100%">
        {{yield}}
    </div>
</div>

